.header-container {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-container img {
  width: 100%;
  height: auto;
}

.header-container h1 {
  padding-top: 10px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

.myprofile {
  background-color: #ed2541;
  margin-top: 10px;
}

.myprofile img {
  width: 50px;
  height: 50px;
}

.modal-body {
  background-color: #ed2541;
}

.modal-body p {
  font-size: 20px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.nav-nav-bar {
  display: block;
  z-index: 1;
  height: 100px;
  background: red;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ed2541, #A73333);
  /* Standard syntax */
}

.nav-nav-bar .nav-align {
  margin-top: 50px;
}

.nav-nav-bar .nav-align a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-right: 30px;
}

#myCarousel {
  margin-top: 0px;
  display: block;
  padding-top: 0px;
}

#myCarousel .carousel-indicators li {
  border: 1px solid #ed2541;
}

#myCarousel .carousel-indicators .active {
  background-color: #ed2541;
}

#myCarousel .carousel-inner .item > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.layout {
  margin-left: 90px;
}

.layout .box {
  text-align: center;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: white;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white 40%, #B40A0A);
  /* Standard syntax */
}

.layout .box img {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.layout .box h3 {
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.layout .box p {
  font-size: 16px;
  color: white;
}

.layout .box a:link {
  color: black;
}

.subtitle {
  text-align: center;
}

.subtitle h1 {
  font-family: calibri;
  margin-bottom: 50px;
  margin-top: 70px;
  font-size: 48px;
  font-weight: bold;
  color: #ed2541;
}

#changetotime {
  padding: 30px;
  text-align: center;
  margin-top: 50px;
  color: lightgrey;
  background: black;
  /* For browsers that do not support gradients */
}

/*Variable class name*/
.nopadding {
  padding: 0px !important;
}

.spcolor {
  color: #ed2541;
}

@media screen and (min-width: 320px) {
  .text {
    margin-left: 0px;
  }
  .text p {
    text-align: justify;
  }
  .no-padding {
    padding: 0px;
  }
  .nav-nav-bar .nav-align {
    margin-top: 10px;
  }
  .nav-nav-bar .nav-align h1 {
    font-size: 20px;
  }
  .myprofile {
    display: none;
  }
  body {
    background-color: lightgreen;
  }
  .layout {
    margin-left: 0px;
  }
  .layout .box {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .text p {
    font-size: 16px;
  }
  .nav-nav-bar .nav-align {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .text {
    padding-left: 0px;
    margin-left: 20px;
  }
  .text h3 {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 30px;
  }
  body {
    background-color: white;
  }
  .layout {
    margin-left: 90px;
  }
  .layout .box {
    margin-bottom: 0px;
  }
  .myprofile {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .text {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1300px) {
  .layout {
    margin-left: 150px;
  }
}

@media screen and (min-width: 1920px) {
  .text {
    margin-left: 0px;
  }
  .myprofile {
    margin-left: 5%;
  }
  .layout {
    margin-left: 200px;
  }
}

/*# sourceMappingURL=mystyle.css.map */